{% extends 'index.html' %}
{% block title %} results {% endblock %}
{% block predict %}

    <div  style = 'background-color:rgb(212, 238, 253)'  class="p-5 rounded-3 meucss">
        <div class="container">
            
            <p class = "display-4">Odds:</p>

            <div class = 'row text-center'>
                {% for result in results %}
                    <div class = 'col card mb-4 shadow-sm'>

                    <p class = 'lead'> 
                        <b>{{ result }}</b>
                    <p>
                        {{ results[result] }}% 
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
